In [ ]:
print('Jupiter Test!')

In [ ]:
print('Hello, World!')

# Basic Types

In [ ]:
print(True)
print(False)
print(1 + 2)
print(1.2 + 2)
print('You can create text using single quotes!')
print("And also in double quotes!")
print('You can also' + " concat text","1" + ' you can also multiply concats', 3 * "3" )
#print('You cannot concat numbers', 1 + "1")
print([1,2,3])
print({'name': 'Matt', 'age': 32})
print(None)

# Variables

In [ ]:
a = 10
b = 5.2

print(a + b)

a = 'String'
print(a)
a
b

# Comments

In [ ]:
# This is a commentary
# The compiler will ignore this

"""
Comment block
"""

'''
Comment block
'''

# Arithmetic Operators

In [ ]:
print(2 + 3)
print(2 - 3)
print(2 * 3)
print(2 ** 3)
print(4 ** (1/2))
print(2 / 3)
print(2 // 3)

a = 12
b = a
print(a + b)

# First Challenge

In [ ]:
# what is the percentage of expenditure in relation to income?
wage = 3450.45
expenses = 2456.2

expenditure = expenses/wage;

print('The total expenses in relation to the income is:', round(expenditure * 100, 2), "%")

# Relational Operators

In [ ]:
print(2 > 3)
print(2 < 3)
print(2 >= 2)
print(2 <= 2)
print(2 != 3)
print(3 != 3)
print(2 == 2)
print(2 == 3)

# Assignment Operators

In [ ]:
a = 3
print(a)

a = a + 7
print(a)

a += 5 # a = a + 5
print(a)

a -= 3 # a = a - 3
print(a)

a *= 2 # a = a * 2
print(a)

a /= 4 # a = a / 4
print(a)

a %= 4 # a = a % 4
print(a)

a **= 2 # a = a ** 2
print(a)

a //= 2 # a = a // 2
print(a)

# Ternary Operators

In [ ]:
isRaining = True
print("Today i am " + ('soaked.' if isRaining else 'dry.'))

# More Operators

In [ ]:
list = [1,2,3,'Bob','Jeff']
print(2 in list)
print('Bob' not in list)

# Identity Operators
x = 3
y = x
z = 3

print(x is y)
print(y is z)
print(x is not z)

list1 = [1,2,3]
list2 = list1
list3 =[1,2,3]

print(list1 is list2)
print(list2 is list3)
print(list1 is not list3)

# Automatic Conversion

In [ ]:
10 / 2
type(10 /2)
10 / 3
10 // 3
type(10 // 3)
10 // 3.3
type(10 // 3.3)
10 / 2.5

# Numbers 01

In [ ]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

b.is_integer()
5.0.is_integer()

dir(int)
int.__add__(2, 3)
2 + 5

(-2).__abs__()
abs(-2)

In [1]:
print(1.1 + 2.2)

from decimal import Decimal, getcontext

Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)

1.1 + 2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

3.3000000000000003

Decimal('3.300000000')

# Strings

In [3]:
dir(str)
name = 'Jeff Bezos'
name
name[0]

'quote on \'quote \n breaks the line'

'J'

In [7]:
name = 'Bob Paulus'
name[0]
name[6]
name[4:]
name[:3]

name[2:5]
numbers = '1234567890'
numbers
numbers[::]
numbers[::2]
numbers[1::2]
numbers[::-1]

name[::-1]

'suluaP boB'

In [ ]:
text = 'Python is a beautiful language'
'py' in text
'age' in text
len(text)
text.lower
text
text = text.upper()
text

text.split()
text.split('E')

In [ ]:
a = '123'
b = ' street 4'
a + b
a.__add__(b)
str.__add__(a,b)

dir(str)
len(a)
a.__len__()
'1' in a
a.__contains__('1')

# Lists

In [ ]:
list = []
type(list)
dir(list)

help(list)

len(list)
list.append(1)
list.append(5)
list
len(list)
newList = [1,5,'Bob','Jeff']
newList
newList.remove(5)
newList.reverse()

In [ ]:
list = [1, 5, 'Rachel', 'Matt', 3.1415]
list.index['Matt']
list[2]
1 in list
'Rachel' in list
'Peter' not in list
list[0]
list[4]
list[-1] # last element of the list
list[-5]
del list[1:]

# Tuple

In [ ]:
tuple_ = tuple()
type(tuple_)
dir(tuple_)
dir(tuple_)
help(tuple_)

tuple_ = ('one',)
type(tuple_)

tuple[0]

colors = ('green', 'yellow', 'blue', 'white')
colors[0]
colors[-1]
colors[1:]

colors.index('yellow')
colors.count('blue')
len(colors)

# Dictionary

In [14]:
person = {
    'name': 'Professor. Michael', 
    'age':38, 
    'courses': [
        'Japanese',
        'English'
        ]
    }

type(person)
len(person)

person['name']
person['age']
person['courses'][0]
print(person.keys())
print(person.items())
print(person.values())
person.get('age')
person.get('tags', [])

dict_keys(['name', 'age', 'courses'])
dict_items([('name', 'Professor. Michael'), ('age', 38), ('courses', ['Japanese', 'English'])])
dict_values(['Professor. Michael', 38, ['Japanese', 'English']])

[]

In [22]:
person = {
    'name': 'Professor. James', 
    'age':28, 
    'courses': [
        'Ruby',
        'React',
        'Python'
        ]
    }
    
person['age'] = 44
person['courses'].append('Angular')
person.pop('age')
print(person)

person.update({'age': 29, 'gender': 'M'})
print(person)

del person['courses']
print(person)
person.clear()
print(person)

{'name': 'Professor. James', 'courses': ['Ruby', 'React', 'Python', 'Angular']}
{'name': 'Professor. James', 'courses': ['Ruby', 'React', 'Python', 'Angular'], 'age': 29, 'gender': 'M'}
{'name': 'Professor. James', 'age': 29, 'gender': 'M'}
{}

# Set

In [25]:
a = {1,2,3}
print(type(a))
a = set('coddddd3r')
print(a)
print('3' in a, 4 not in a)
{1,2,3} == {3,2,1,3}

# Set operations
c1 = {1,2}
c2 = {2,3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2)
print(c1)
c2 <= c1
c1 >= c2

{1,2,3} - {2}
c1 - c2
c1 -= {2}
c1

<class 'set'>
{'o', '3', 'r', 'c', 'd'}
True True
{1, 2, 3}

{1, 3}

# Interpolation

In [3]:
from string import Template
name, age = 'Anna', 30

print('Name: %s Age: %d %r %s %d' % (name, age, True, False, True))
print('Name: {0} Age {1}'.format(name, age))
print(f'Name: {name} Age: {age} { (2 ** 8) - 1}')

s = Template('Name: $name Age: $age')
print(s.substitute(name=name, age=age))

Name: Anna Age: 30 True False 1
Name: Anna Age 30
Name: Anna Age: 30 255
Name: Anna Age: 30